In [36]:
import datetime
row = (10519, 'S003:DATA:TestSQL', datetime.datetime(2023, 3, 1, 17, 19, 19), 0.3, 420.0, 420.0, 420.0, 500.0, 500.0, 996.0, 10.0, 772.0, 772.0, 800.0, 770.0, 1, 20.0, datetime.datetime(2023, 3, 1, 17, 21, 40), 12.0, 1, 1, -1, 47891075, 'e74f2fe9be285fd833473d872a47a9a7', 'LNGS', -1)

In [4]:
row

(10519,
 'S003:DATA:TestSQL',
 datetime.datetime(2023, 3, 1, 17, 19, 19),
 0.3,
 420.0,
 420.0,
 420.0,
 500.0,
 500.0,
 996.0,
 10.0,
 772.0,
 772.0,
 800.0,
 770.0,
 1,
 20.0,
 datetime.datetime(2023, 3, 1, 17, 21, 40),
 12.0,
 1,
 1,
 -1,
 47891075,
 'e74f2fe9be285fd833473d872a47a9a7',
 'LNGS',
 -1)

In [26]:
row_list = list(row)

for i,data in enumerate(row_list):
    print(i,data)
    if "datetime.datetime" in str(data):
        print(data)
        data = data.strftime('%Y-%m-%d %H:%M:%S')
        print(data)
        row_list[i] = data
        print(row_list[i])
        
row_list

[10519, 'S003:DATA:TestSQL', datetime.datetime(2023, 3, 1, 17, 19, 19), 0.3, 420.0, 420.0, 420.0, 500.0, 500.0, 996.0, 10.0, 772.0, 772.0, 800.0, 770.0, 1, 20.0, datetime.datetime(2023, 3, 1, 17, 21, 40), 12.0, 1, 1, -1, 47891075, 'e74f2fe9be285fd833473d872a47a9a7', 'LNGS', -1]
0 10519
1 S003:DATA:TestSQL
2 2023-03-01 17:19:19
3 0.3
4 420.0
5 420.0
6 420.0
7 500.0
8 500.0
9 996.0
10 10.0
11 772.0
12 772.0
13 800.0
14 770.0
15 1
16 20.0
17 2023-03-01 17:21:40
18 12.0
19 1
20 1
21 -1
22 47891075
23 e74f2fe9be285fd833473d872a47a9a7
24 LNGS
25 -1

[10519,
 'S003:DATA:TestSQL',
 datetime.datetime(2023, 3, 1, 17, 19, 19),
 0.3,
 420.0,
 420.0,
 420.0,
 500.0,
 500.0,
 996.0,
 10.0,
 772.0,
 772.0,
 800.0,
 770.0,
 1,
 20.0,
 datetime.datetime(2023, 3, 1, 17, 21, 40),
 12.0,
 1,
 1,
 -1,
 47891075,
 'e74f2fe9be285fd833473d872a47a9a7',
 'LNGS',
 -1]

In [29]:
row_list = list(row)

In [32]:
str(row_list[2])

'2023-03-01 17:19:19'

In [17]:
row_list

[10519,
 'S003:DATA:TestSQL',
 'pippo',
 0.3,
 420.0,
 420.0,
 420.0,
 500.0,
 500.0,
 996.0,
 10.0,
 772.0,
 772.0,
 800.0,
 770.0,
 1,
 20.0,
 datetime.datetime(2023, 3, 1, 17, 21, 40),
 12.0,
 1,
 1,
 -1,
 47891075,
 'e74f2fe9be285fd833473d872a47a9a7',
 'LNGS',
 -1]

In [37]:
row_list = []

for i,data in enumerate(row):
    if isinstance(data, datetime.datetime):
        data = data.strftime('%Y-%m-%d %H:%M:%S')
    row_list.append(data)
row = tuple(row_list)
row

(10519,
 'S003:DATA:TestSQL',
 '2023-03-01 17:19:19',
 0.3,
 420.0,
 420.0,
 420.0,
 500.0,
 500.0,
 996.0,
 10.0,
 772.0,
 772.0,
 800.0,
 770.0,
 1,
 20.0,
 '2023-03-01 17:21:40',
 12.0,
 1,
 1,
 -1,
 47891075,
 'e74f2fe9be285fd833473d872a47a9a7',
 'LNGS',
 -1)

In [57]:
cols = ('run_number', 'run_description', 'start_time', 'exposure_sec', 'GEM3_V', 'GEM2_V', 'GEM1_V', 'T2_V', 'T1_V', 'DRIFT_V', 'OFFSET_V', 'PMT1_V', 'PMT2_V', 'PMT3_V', 'PMT4_V', 'HV_STATE', 'total_gas_flow', 'stop_time', 'number_of_events', 'storage_local_status', 'storage_cloud_status', 'storage_tape_status', 'file_size', 'file_checksum', 'file_s3_tag', 'online_reco_status')

In [62]:
cols = "`,`".join([str(i) for i in list(cols)])

In [63]:
table_name = "ippo"

In [67]:
sql = "INSERT INTO `"+table_name+"` (`" +cols+ "`) VALUES "+str(row)

In [68]:
sql

"INSERT INTO `ippo` (`run_number`,`run_description`,`start_time`,`exposure_sec`,`GEM3_V`,`GEM2_V`,`GEM1_V`,`T2_V`,`T1_V`,`DRIFT_V`,`OFFSET_V`,`PMT1_V`,`PMT2_V`,`PMT3_V`,`PMT4_V`,`HV_STATE`,`total_gas_flow`,`stop_time`,`number_of_events`,`storage_local_status`,`storage_cloud_status`,`storage_tape_status`,`file_size`,`file_checksum`,`file_s3_tag`,`online_reco_status`) VALUES (10519, 'S003:DATA:TestSQL', '2023-03-01 17:19:19', 0.3, 420.0, 420.0, 420.0, 500.0, 500.0, 996.0, 10.0, 772.0, 772.0, 800.0, 770.0, 1, 20.0, '2023-03-01 17:21:40', 12.0, 1, 1, -1, 47891075, 'e74f2fe9be285fd833473d872a47a9a7', 'LNGS', -1)"